[Desktop Entry]
Version=1.0
Type=Application
Name=Draw.io
Icon=/opt/extras.ubuntu.com/useful-websites/share/useful-websites/icons/draw_io_logo.svg
Exec=x-www-browser https://www.draw.io/
Comment=Draw.io
Categories=Network;
Terminal=false
